.side-nav {
    background-color: whitesmoke;
    border-radius: 6px;
    width: 100%;
    display: inline-block;
}

.side-nav_name {
    line-height: 30px;
    padding: 10px;
}

    .side-nav_name .name {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: bold;
    }

    .side-nav_name .title {
        font-size: 13px;
        color: #777;
    }

.side-nav_image {
    margin-top: -10px;
    -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}

    .side-nav_image img {
        width: 100%;
    }

/* Info */
.side-nav_information {
    margin: -50px 1px 0px 5px;
}

    .side-nav_information .timeline .timeline_content {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .side-nav_information span {
        font-weight: 700 !important;
    }

.timelineItem_text {
    font-size: 12px;
    color: #787878;
    font-weight: 400;
}

.side-nav_information a {
    color: black;
    text-decoration: none;
}

/* centralized download btn*/
.side-nav .button_container {
    width: 100;
    justify-content: center;
    margin-top: 15px;
}

    .side-nav .button_container .dowload_cv {
        text-decoration: none;
    }
