.side-nav {
    background-color: black;
    width: 100%;
    height:100vh;
    display: inline-block;
    padding: 1vh 0;
}

.side-nav_name {
    line-height: 30px;
    padding: 10px;
    color:white;
}

    .side-nav_name .name {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: bold;
        color: white;
    }

    .side-nav_name .title {
        font-size: 13px;
        color: #777;
        color: white;
    }

.profile_image img {
    width: 75%; /* Nastav požadovanou šíøku obrázku */
    height: auto; /* Zachová správný pomìr stran */
    border-radius: 50%; /* Pokud chceš kruhový obrázek */
    display: block;
    margin: 0 auto; /* Centrovaní obrázku */
}

/* Info */
.side-nav_information {
    margin: -50px 1px 0px 5px;
}

    .side-nav_information .timeline .timeline_content {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .side-nav_information span {
        font-weight: 700 !important;
    }

.timelineItem_text {
    font-size: 12px;
    color: #787878;
    font-weight: 400;
}

.side-nav_information a {
    color: black;
    text-decoration: none;
}

/* centralized download btn*/
.side-nav .button_container {
    width: 100;
    justify-content: center;
    margin-top: 15px;
}

    .side-nav .button_container .dowload_cv {
        text-decoration: none;
    }
